@import 'variables';

@mixin mobile {
    @media only screen and (min-width: $layout_bp_mobile) {
      @content;
    }
  }

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
      @content;
  }
}
