@import './custom';
@import './variables';
@import './mixin';
@import './responsive';

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 141, 141);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.header {
  min-height: 220px;
  @include display_flex_column(center, center);
  width: 100%;
  margin-bottom: 30px;

  @include desktop {
    min-height: 300px;
  }

  &__logo {
    @include display_flex_row(center, center);
  }

  &__pokeball-logo {
    width: 20%;
    height: 60%;

    @include desktop {
      width: 10%;
      height: 60%;
    }
  }

  &__pokemon-name {
    width: 60%;
    height: 90%;
    cursor: pointer;

    @include desktop {
    width: 40%;
    height: 90%;
    }
  }

  &__team-rocket-name {
    width: 80%;
    height: 100%;
    cursor: pointer;
  }

  &__subtitle {
    @include display_flex_row(center, center);
    font-size: 11px;

    @include desktop {
      font-size: 14px;
    }
  }

}

.main {
  min-height: 1000px;
  width: 100%;
  margin-bottom: 30px;

  &__container {
    @include display_flex_column(center, flex-start);
    margin: 2% 10%;
    min-height: 0px;

    @include desktop {
      margin: 2% 20%;
    }
  }

  &__form {
    width: 100%;
  }

  &__name-input, &__submit-button {
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: white;

  }

  &__name-input {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include desktop {
      font-size: 17px;
      letter-spacing: 5px;
    }
  }


  &__starters, &__starters-info {
    margin: 2% 10%;
    width: 100%;
    min-height: 0px;
  }

  &__starters {
    @include display_flex_row(space-between, center);
    margin: 75px 0px;
  }

  &__starter-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;  
  }

  &__pokemon-info {
    min-height: 0px;
    margin-bottom: 40px;
  }

  &__pokeball-starter-img {
    width: 100%;
    height: 50%;
  }

  &__starters-info {
    margin-top: 0px;
    min-height: 500px;
  }

  &__pokemon-name {
    text-transform: capitalize;
    font-size: 24px;
  }

  &__pokemon-type {
    font-size: 15px;
    margin-bottom: 15px;

    @include desktop {
      font-size: 17px;
    }
  }

  &__pokemon-detail-image {
    width: 30%;
    height: 30%;
  }

  &__choose-pokemon-btn {
    text-transform: capitalize;
    min-width: 40%;
  }

  &__pokeName-detail {
    font-weight: 800;
    text-transform: capitalize;
  }

  &__chosen-pokemon-image {
    width: 40%;
    height: 40%;

    @include desktop {
      width: 25%;
      height: 25%;
    }
  }

  &__info-chosen-poke {
    margin: 1% 10%;
    min-height: 100px;
  }

  &__team-rocket-img {
    border-radius: 20px 100px 20px 0px;
    margin-bottom: 30px;
  }

  &__full-list {
    margin: 2% 10%;
    @include display_wrap;
    margin-bottom: 30px;
    justify-content: space-between;

    @include desktop {
      margin: 2% 15%;
    }
  }

  &__full-list-items {
    @include display_flex_column(center, center);
    font-size: 13px;
    width: 250px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 25px 25px 25px 0px;
    padding: 2%;
    justify-content: center;
    align-items: center;
    border: none;
  
    @include desktop {
      width: 330px;
      height: 160px;
      font-size: 16px;
    }
  }

  &__full-list-items--green {
    background-color: rgb(127, 226, 127);
    border-bottom: 4px solid green;
  }

  &__full-list-items--red {
    background-color: rgb(230, 134, 134);
    border-bottom: 4px solid red;
  }

  &__full-list-items--blue {
    background-color: rgb(143, 164, 219);
    border-bottom: 4px solid blue;
  }

  &__full-list-items--yellow {
    background-color: rgb(249, 255, 191);
    border-bottom: 4px solid yellow;
  }

  &__full-list-items--orange {
    background-color: rgb(246, 193, 93);
    border-bottom: 4px solid orange;
  }

  &__full-list-items--purple {
    background-color: rgb(215, 124, 238);
    border-bottom: 4px solid white;
  }

  &__full-list-items--pink {
    background-color: pink;
    border-bottom: 4px solid rgb(238, 42, 189);
  }
}

.team-rocket-style {
  background-color: black;
  color: red;
}

.footer {
  @include display_flex_row(space-evenly, center);
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
  background: url('https://www.wallpapertip.com/wmimgs/3-33641_pokemon-desktop-background.jpg') no-repeat fixed;

  &__button {
    margin: 20px 0px;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 13px;

    @include desktop {
      width: 15%;
      font-size: 15px;

      height: 40px;
    }
  }
}




// Helpers
.no-margin {
  margin: 0px;
}

.hide {
  display: none;
}

.margin-bottom {
  margin-bottom: 30px;
}

.capitalize {
  text-transform: capitalize;
}

.link {
  text-decoration: none;
  color: black;
}